.fruit-checkout:checked + label {
  @apply bg-gray-200;
}

.fruit-checkout:checked + label span::after {
  @apply block top-2/4 left-0 right-0 bg-green-800 transform -translate-y-1/2;

  content: '';
  position: absolute;
  height: 4px;
  transition: transform 0.3s ease;
}

.fruit-checkout:checked + label img {
  filter: grayscale(100%);
}
