.fruit-checkout:checked + label {
  @apply bg-gray-200;
}

.fruit-checkout:checked + label span::after {
  @apply block top-2/4 left-0 right-0 bg-green-800 transform -translate-y-1/2;

  content: '';
  position: absolute;
  height: 4px;
  transition: transform 0.3s ease;
}

.fruit-checkout:checked + label img {
  filter: grayscale(100%);
}

/* .fruit-checkout + label {
  position: relative;
  overflow: hidden;
}

.fruit-checkout + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(circle, #ccc 10%, transparent 10.1%);
  transform: scale(100);
  opacity: 0;
  transition: all 2s;
}

.fruit-checkout + label:active::after {
  transform: scale(0);
  opacity: 1;
  transition: 0s;
} */
