@tailwind base;
@tailwind components;
@tailwind utilities;

summary.list-none::-webkit-details-marker {
  display: none;
}

body {
  width: 100vw;
  overflow: hidden;
}

html {
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}
